* {
    font-family: 'Open Sans', sans-serif;
    background-color: yellow;
}

.card {
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

.row img {
    width: 100%;
    height: 100%;
}

.card-team {
    width: 80;
    margin: auto;
}