<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/minstyle.io@1.1.0/css/minstyle.io.css"
    />
  </head>
  <body style="margin: auto; width: 50%">
    {% if request.user.is_authenticated %}
    <h1>yor are already logged in!!!!....</h1>

    <h3><a href="/">visit homepage</a></h3>

    {% else %} {% if is_login %}

    <h1>you are successfully loggedin....</h1>
    <a href="/">homepage</a>

    {% else %}

    <h1>Log in</h1>

    <form method="POST">
      {% csrf_token %}

      <input
        style="padding: 8px; margin: 8px"
        name="user"
        type="text"
        placeholder="username"
      /><br />
      <input
        style="padding: 8px; margin: 8px"
        name="pass"
        type="password"
        placeholder="password"
      /><br />
      <input
        style="padding: 8px; margin: 8px"
        type="submit"
        placeholder="submit"
      />
    </form>

    <h3>
      you not creat an account. creat here..<a href="/account/signup"
        >click here</a
      >
    </h3>

    {% endif %} {% endif %}
  </body>
</html>
