<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/minstyle.io@1.1.0/css/minstyle.io.css"
    />
  </head>
  <body>
    <h2>you are successfully logged out...</h2>
    <h3>click hear to go to home page...</h3>
    <a href="/">homepage</a>
  </body>
</html>
