<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgb(204, 33, 33);">
    <div class=" container my-3 ">
        <div class=" card " style="background-color: rgb(204, 33, 33); ">
            <div class="row ">
                <div class="col-md-4 ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/PBKS/Logos/Medium/PBKS.png" class=" img-fluid rounded-start " alt="... ">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body " style="color: white;">
                        <h1 class=" card-title " style=" text-align: center;"> Punjab Kings</h1>
                        <p class="card-text ">Owner: H Dream Cricket Private Limited</p>
                        <p class="card-text ">Venue: IS Bindra Stadium</p>
                        <p class="card-text ">Coach: Anil Kumble</p>
                        <p class="card-text ">Captain:KL Rahul</p>
                        <p class="card-text ">Championships won: 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>

        <div class="text-center my-3 ">
            <h2 style="color: white;">The Squad</h2>
            <hr class="w-25 mx-auto " />
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-3 ">
            <div class="col ">
                <div class=" card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/1125.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">KL Rahul </h5>
                        <p class="card-text ">Team: MI</p>
                        <p class="card-text ">Price: 15Cr</p>
                        <p class="card-text ">Role: Wicketkeeper batsman</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863)  ">
                    <img src=" https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/72.png" class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class=" card-title text-center "> Mandeep Singh</h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 11Cr</p>
                        <p class="card-text ">Role: All-rounder</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/5436.png " class=" card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class=" card-title text-center ">Prabhsimran Singh</h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 11lac</p>
                        <p class="card-text ">Role: Wicket -Keeper</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/94.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white; ">
                        <h5 class=" card-title text-center ">Mohammad Shami</h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 8Cr</p>
                        <p class="card-text ">Role: Bowler</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/1703.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white; ">
                        <h5 class="card-title text-center ">Nicholas Pooran </h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 15Cr</p>
                        <p class="card-text ">Role: Wicketkeeper batsman</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/1707.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white; ">
                        <h5 class=" card-title text-center ">Fabian Allen</h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 12Cr</p>
                        <p class="card-text ">Role: All-Rounder</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src=" https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/158.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white; ">
                        <h5 class=" card-title text-center ">Mayank Agarwal</h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 5Cr</p>
                        <p class="card-text ">Role: Batsman</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgba(241, 81, 81, 0.863) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/3187.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white; ">
                        <h5 class="card-title text-center "> Murugan Ashwin</h5>
                        <p class="card-text ">Team: PK</p>
                        <p class="card-text ">Price: 13Cr</p>
                        <p class="card-text ">Role: Legbreak googly</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>

    </section>




    <footer>
        <p>Designed by Roni Samal </p>

    </footer>















    <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
</body>

</html>