<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgb(27, 26, 26);">
    <div class=" container my-3 ">
        <div class=" card " style="background-color: rgb(27, 26, 26); ">
            <div class="row ">
                <div class="col-md-4 ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/RCB/Logos/Medium/RCB.png" class=" img-fluid rounded-start " alt="... ">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body " style="color: white;">
                        <h1 class=" card-title " style=" text-align: center;"> Royal Challengers Bangalore</h1>
                        <p class="card-text ">Owner: Royal Challengers Sports Private Ltd</p>
                        <p class="card-text ">Venue: M. Chinnaswamy Stadium </p>
                        <p class="card-text ">Coach: Simon Katich</p>
                        <p class="card-text ">Captain: Virat Kohli</p>
                        <p class="card-text ">Championships won: 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="text-center my-3 ">
            <h3 style="color: white;">The Squad</h3>
            <hr class="w-25 mx-auto " />
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-3 ">
            <div class="col ">
                <div class=" card " style="background-color:rgb(109, 106, 106) ">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/164.png" class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center "> Virat Kohli</h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 14Cr</p>
                        <p class="card-text ">Role: Batsman</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src=" https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/3082.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">
                            Wanindu Hasaranga </h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 11Cr</p>
                        <p class="card-text ">Role: All-rounder</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/7743.png " class=" card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">Mohammed Azharuddeen</h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 11lac</p>
                        <p class="card-text ">Role: Wicket-Keeper</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/798.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">Kane Richardson</h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 8Cr</p>
                        <p class="card-text ">Role: Bowler</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/233.png" class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">AB de Villiers </h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 15Cr</p>
                        <p class="card-text ">Role: Wicketkeeper batsman</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/2973.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">
                            Washington Sundar</h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 12Cr</p>
                        <p class="card-text ">Role: All-Rounder</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src=" https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/5430.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">Devdutt Padikkal</h5>
                        <p class="card-text ">Team:RCB</p>
                        <p class="card-text ">Price: 5Cr</p>
                        <p class="card-text ">Role: Batsman</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card " style="background-color:rgb(109, 106, 106)">
                    <img src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/playerheadshot/ipl/284/111.png " class="card-img-top " alt="... ">
                    <div class="card-body " style="color: white;">
                        <h5 class="card-title text-center ">Yuzvendra Chahal</h5>
                        <p class="card-text ">Team: RCB</p>
                        <p class="card-text ">Price: 13Cr</p>
                        <p class="card-text ">Role: Bowler</p>
                        <p class="card-text ">Status: Playing</p>
                    </div>
                </div>
            </div>

    </section>




















    <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
</body>

</html>